@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
        
* {
     font-family: "Lora";
 }
 /***************************header*******************************/
 header {
     text-align: center;
 }

 header div{
     border-top: 2px solid rgb(231, 231, 8);
     background-color: rgb(245, 245, 134, 0.2);
     color: rgb(8, 66, 66);
     padding: 5px;
 }

 header img {
     max-width: 100%;
     width: 200px;
 }
/**************************main*********************************/
 main {
     max-width: 100%;
     width: 600px;
     margin: 0 auto;
    
     margin-top: 5vw;
 }

 h1 {
     text-align: center;
     margin: 0 auto 0 auto;
     max-width: 70%;
 }

 #corpo_centrale img{
     max-width: 100%;
     border-radius: 1%;
 }

 #corpo_centrale figcaption{

     text-align: center;
     color: rgb(117, 117, 117, 0.8);        
 }

 #corpo_centrale p:not(.procedimento){
     border-left: 2px solid rgb(231, 231, 8);
     padding-left: 1%;
 }

 #corpo_centrale span{
     color: rgb(218, 141, 0);
     font-weight: 600;
 }

 #corpo_centrale a, footer a{
     color: rgb(0, 172, 149);
 }

 #corpo_centrale li:not(.procedimento){
     padding:1%
 }